.about-box {
  max-width: 520px;
  width: 90%;
  margin: auto;
  padding: 28px 24px;

  border-radius: 16px;
  color: #e5e7eb;
  text-align: center;
  font-family: "Poppins", sans-serif;
}

/* IMAGE */
.owner-img {
  width: 130px;
  height: 130px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 16px;
  border: 3px solid #38bdf8;
}

/* NAME */
.owner-name {
  font-size: 22px;
  font-weight: 700;
  margin-bottom: 12px;
  letter-spacing: 1px;
}

/* TEXT */
.about-text {
  font-size: 14px;
  line-height: 1.7;
  margin-bottom: 14px;
  color: #cbd5f5;
}

/* TECH STACK */
.tech-stack {
  margin-top: 18px;
  padding-top: 12px;
  border-top: 1px solid #1e293b;
}

.tech-stack h4 {
  font-size: 15px;
  margin-bottom: 8px;
  color: #38bdf8;
}

.tech-stack p {
  font-size: 13px;
  margin: 4px 0;
}
